@import url('./assets/styles/master.css');

.ikea-clone {
  text-align: center;
  background-color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
