.campaigns__content {
    position: relative;
    background-color: black;
}

.campaigns__content__item--white {
    color: white;
    text-decoration: none !important;
}

.campaigns__content__item--white > span {
    color: white;
}

.campaigns__content__item--white > span:hover {
    text-decoration: underline;
}