.tooltip {
    background-color: rgb(var(--colour-interactive-primary-bg-default));
    border-radius: 4px;
    bottom: -2.75rem;
    color: rgb(var(--colour-neutral-1));
    display: none;
    flex: 0 0 7.5rem;
    font-size: .75rem;
    left: 0;
    max-width: 60vw;
    padding: 0.5rem 0.75rem;
    position: absolute;
    width: max-content;
    z-index: 9999;
}

.not-activated-yet {
    padding-inline: 1rem;
    color: red;
    text-decoration-color: red;

}

.tooltip-parent .tooltip-text {
    visibility: hidden;
    width: auto;
    text-align: center;
    padding: 0px 5px;


    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 100;
    /* top: inherit;
    right: inherit; */
    transform: translate(-80%,50%);
    margin-right: 2rem;
}

.tooltip-text > p {
    margin: 0;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    background-color: lightgray;
    color: rgb(48, 48, 48);
    border-radius: 0.5rem;
}

.tooltip-parent:hover .tooltip-text {
    visibility: visible;
}
