.product__availableOptions__buttons {
    display: flex;
}

.product__availableOptions__buttons__eachButton {
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    cursor: pointer;
}

.product__availableOptions__buttons__eachButton > img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}

.product-image {
    cursor: pointer;
}

.product-mastercard {
    text-align: left;
}

.product-mastercard > a {
    color: black;
    cursor: pointer;
}