.wishlistEdit__header {
    text-align: left;
    font-weight: 700;
}

.wishlist__edit-name {
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.wishlist__edit-name > p {
    line-height: 2rem;
    margin: 0;
}