.wishlist__header {
    text-align: left;
}

.wishlist__header__close-btn {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0;
    border-radius: 100%;
}

.wishlist__header__close-btn:hover {
    background-color: lightgray;
}

.wishlist__buttons {
    display: flex;
    border-bottom: 1px solid lightgrey;
}

.wishlist__buttons > button {
    border: none;
    background-color: transparent;
}

.wishlist__buttons > button:first-child {
    border-bottom: 2px solid blue;
}

.wishlist__create-new-list {
    background-color: transparent;
    border: none;
    width: 100%;
    line-height: 2rem;
}

.wishlist__create-new-list__button > p {
    margin: 0;
    line-height: 2rem;
}

.wishlist__create-new-list__button {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.wishlist__add-to-name {
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: left;
}

.wishlist__add-to-name > p {
    line-height: 2rem;
    margin: 0;
}

.wishlist__create-new-list__form {
    text-align: left;
}

.newWishlistName-field > label {
    line-height: 1rem;
    font-size: 0.9rem;
}

.newWishlistNameSubmitBtn {
    width: 100%;
    color: darkgray;
    background-color: gray;
    border: none;
    border-radius: 1rem;
    margin-top: 3rem;
}

.newWishlistNameSubmitBtn-clickable {
    background-color: black;
    color: white;
}